<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            says:
        </td>
    </tr>
</table>

<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <img src="{{ post.url }}" alt="post image" class="img-thumbnail"><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
    <div class="card-body">
      <p class="card-text">{{ post.title}}</p>
      <div class="d-flex justify-content-between align-items-center">
      </div>
    </div>
  </div>
</div>
